<h2>Navigation</h2>
<ul>
  <li><%= link_to "Articles", articles_path %></li>
  <li><%= link_to "Tags", tags_path %></li>
  <li><%= link_to "Users", authors_path %></li>
  <li>
    <% if logged_in? %>
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </li>
</ul>